body, html {
    font-family: 'Muli', sans-serif;
}

body {
    height: 100%;
    margin: 0;
    background-size: 100% auto;
    background: #255166 url("../image/Background.22ea7b0874f3.svg") no-repeat fixed bottom;
}

.form-container {
    margin: 0;
    padding: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, 50%);
    transform: translate(-50%, -50%);
    width: 80%;
    background: white;
    border-radius: 10px;
}

.group {

    width: 100%;
    height: 110px;
    overflow: hidden;
    position: relative;
}

label {
    position: absolute;
    top: 36.6666666667px;
    font: 400 36.6666666667px Muli;
    cursor: text;
    transition: .25s ease;
}

input {
    display: block;
    width: 100%;
    padding-top: 36.6666666667px;
    border: none;
    border-radius: 0;
    font-size: 36.6666666667px;
    transition: .3s ease;
}

input:valid ~ label {
    top: 0;
    font: 700 22px Muli;
}

input:focus {
    outline: none;
}

input:focus ~ label {
    top: 0;
    font: 700 22px Muli;
    color: #2196f3;
}

input:focus ~ .bar:before {
    transform: translateX(0);
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #333 inset;
    -webkit-text-fill-color: white !important;
}

::selection {
    background: rgba(33, 150, 243, 0.3);
}

.submit-button {
    margin: auto;
    border-color: #4c937b;
    font-size: 20pt;
    align-content: center;
}