{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deteksi Emosi</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href={% static 'css/index.css' %}>
</head>
<body>
<h1 class="title-heading">Sentiment Detection through Text</h1>
<p class="text-description">Put your text inside the text box and find out the sentiment of your text</p>
<div class="form-container">
    <form action="/" method="POST"> {% csrf_token %}
        <div class="group">
            <input type="text" id="text-sentiment" required="required" name="text-sentiment"/>
            <label for="text-sentiment">Your text</label>
            <div class="bar"></div>
        </div>
        <div class="button-container">
            <a><input class="submit-button" type="submit" placeholder="Submit" /></a>
        </div>
    </form>
</div>
    {% if chart_data %}
    <div id="chart-container"></div>
    {% endif %}
</body>
<script type="text/javascript">
    window.onload = function() {
        var chart_data = jQuery.parseJSON('{{ chart_data|escapejs }}');
        var chart = new CanvasJS.Chart("chart-container", {
            animationEnabled: true,
            title: {
                text: "Sentiment Prediction",
                fontSize: 30,
                fontFamily: "Muli",
                fontStyle: "Bold"
            },
            data: [{
                type: "pie",
                startAngle: 270,
                yValueFormatString: "##0.00\"%\"",
                indexLabel: "{label} {y}",
                dataPoints: chart_data
            }]
        });
        chart.render();

    }
</script>
</html>
