{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Deteksi Emosi</title>
    <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href={% static 'css/index.css' %}>
</head>
<body>
<h1 class="title-heading">Sentiment Detection through Text</h1>
<p class="text-description">Put your text inside the text box and find out the sentiment of your text</p>
<div class="form-container">
    <div class="group">
        <input type="text" id="name" required="required"/>
        <label for="name">Your text</label>
        <div class="bar"></div>
    </div>
    <div class="button-container">
        <a class="submit-button">Submit</a>
    </div>
</div>
</body>
</html>
